:host {
  background-color: #f1f0f0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

.hotKey {
  display: block;
  text-align: center;
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.file {
  font-family: 'Roboto', sans-serif;
  text-indent: 25px;
  text-align: justify;
}
